.inputGroup {
  background-color: white;
  border-radius: 10px;
  padding: 0.5em;
  display: flex;
  flex-direction: row;
  gap: 0.5em;
}

.inputGroup label {
  display: block;
}

.inputGroup input {
  width: 100%;
  text-decoration: none;

}

.inputGroup input:focus {
  outline: none;
}

.plain-link p{
  color: black;
}

.plain-link a:hover{
  color: rgb(11, 105, 182);
  text-decoration: underline;
}